<div id="PrintInternal">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-6 fa fa-ellipsis-v">
                    <label>Enrollment No.</label>
                </div>
                <div class="col-xs-6 col-sm-6">
                    <span id="ContentPlaceHolder1_LabelEnroll" class="form-control pt-7" disabled="disabled">170911096</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-xs-6 col-sm-4 fa fa-ellipsis-v">
                    <label>Roll No</label>
                </div>
                <div class="col-xs-6 col-sm-6">
                    <span id="ContentPlaceHolder1_Labelroll" class="form-control pt-7" disabled="disabled">25</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-xs-6 col-sm-4 fa fa-ellipsis-v">
                    <label>Semester</label>
                </div>
                <div class="col-xs-6 col-sm-6">
                    <span id="ContentPlaceHolder1_Labelsem" class="form-control pt-7" disabled="disabled">VI</span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-xs-6 col-sm-4 fa fa-ellipsis-v">
                    <label>Name</label>
                </div>
                <div class="col-xs-6 col-sm-6">
                    <span id="ContentPlaceHolder1_Labelname" class="form-control pt-7" disabled="disabled">TEJAS HARIHARAN KASHINATH</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <div class="panel-group internalMarks" id="accordion1">
                    
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$RepeaterPrintInternal$ctl00$hdnSubjectCode" id="ContentPlaceHolder1_RepeaterPrintInternal_hdnSubjectCode_0" value="HUM 4002">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-text panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#HUM4002" aria-expanded="true">
                                            <i class="more-less fa fa-plus tooltips" aria-hidden="true" data-placement="top" data-original-title="Expand"></i>
                                            <b>Subject Code:</b> HUM 4002  ENGINEERING ECONOMICS AND FINANCIAL MANAGEMENT
                                            
                                        </a>
                                    </h4>
                                </div>

                                <div id="HUM4002" class="panel-collapse collapse in" role="tabpanel">
                                    <div class="panel-body mit-bg">
                                        <div class="table-responsive">
                                            <div id="ContentPlaceHolder1_RepeaterPrintInternal_pnlInternal_0">

                                                <table style="width: 700px; border-collapse: collapse; border: 1px solid black; text-align: center">
                                                    <tbody><tr style="border-collapse: collapse; border: 1px solid black; text-align: center">
                                                        <th style="border-collapse: collapse; border: 1px solid black; text-align: center">Internal</th>
                                                        <th style="border-collapse: collapse; border: 1px solid black; text-align: center">Maximum Marks</th>
                                                        <th style="border-collapse: collapse; border: 1px solid black; text-align: center">Marks Obtained</th>
                                                    </tr>
                                                    
                                                            <tr style="border-collapse: collapse; border: 1px solid black; text-align: center">
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">Internal Sessional 1</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">15.00</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">11.00</td>
                                                            </tr>
                                                        
                                                            <tr style="border-collapse: collapse; border: 1px solid black; text-align: center">
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">Total Marks</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">15.00</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">11.00</td>
                                                            </tr>
                                                        
                                                </tbody></table>
                                            
</div>

                                            
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$RepeaterPrintInternal$ctl01$hdnSubjectCode" id="ContentPlaceHolder1_RepeaterPrintInternal_hdnSubjectCode_1" value="ICT 3201">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-text panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#ICT3201" aria-expanded="true">
                                            <i class="more-less fa fa-plus tooltips" aria-hidden="true" data-placement="top" data-original-title="Expand"></i>
                                            <b>Subject Code:</b> ICT 3201  DISTRIBUTED SYSTEMS
                                            
                                        </a>
                                    </h4>
                                </div>

                                <div id="ICT3201" class="panel-collapse collapse in" role="tabpanel">
                                    <div class="panel-body mit-bg">
                                        <div class="table-responsive">
                                            <div id="ContentPlaceHolder1_RepeaterPrintInternal_pnlInternal_1">

                                                <table style="width: 700px; border-collapse: collapse; border: 1px solid black; text-align: center">
                                                    <tbody><tr style="border-collapse: collapse; border: 1px solid black; text-align: center">
                                                        <th style="border-collapse: collapse; border: 1px solid black; text-align: center">Internal</th>
                                                        <th style="border-collapse: collapse; border: 1px solid black; text-align: center">Maximum Marks</th>
                                                        <th style="border-collapse: collapse; border: 1px solid black; text-align: center">Marks Obtained</th>
                                                    </tr>
                                                    
                                                            <tr style="border-collapse: collapse; border: 1px solid black; text-align: center">
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">Internal Sessional 1</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">15.00</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">11.00</td>
                                                            </tr>
                                                        
                                                            <tr style="border-collapse: collapse; border: 1px solid black; text-align: center">
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">Total Marks</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">15.00</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">11.00</td>
                                                            </tr>
                                                        
                                                </tbody></table>
                                            
</div>

                                            
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$RepeaterPrintInternal$ctl02$hdnSubjectCode" id="ContentPlaceHolder1_RepeaterPrintInternal_hdnSubjectCode_2" value="ICT 3202">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-text panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#ICT3202" aria-expanded="true">
                                            <i class="more-less fa fa-plus tooltips" aria-hidden="true" data-placement="top" data-original-title="Expand"></i>
                                            <b>Subject Code:</b> ICT 3202  DATA WAREHOUSING AND DATA MINING
                                            
                                        </a>
                                    </h4>
                                </div>

                                <div id="ICT3202" class="panel-collapse collapse in" role="tabpanel">
                                    <div class="panel-body mit-bg">
                                        <div class="table-responsive">
                                            <div id="ContentPlaceHolder1_RepeaterPrintInternal_pnlInternal_2">

                                                <table style="width: 700px; border-collapse: collapse; border: 1px solid black; text-align: center">
                                                    <tbody><tr style="border-collapse: collapse; border: 1px solid black; text-align: center">
                                                        <th style="border-collapse: collapse; border: 1px solid black; text-align: center">Internal</th>
                                                        <th style="border-collapse: collapse; border: 1px solid black; text-align: center">Maximum Marks</th>
                                                        <th style="border-collapse: collapse; border: 1px solid black; text-align: center">Marks Obtained</th>
                                                    </tr>
                                                    
                                                            <tr style="border-collapse: collapse; border: 1px solid black; text-align: center">
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">Internal Sessional 1</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">15.00</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">12.50</td>
                                                            </tr>
                                                        
                                                            <tr style="border-collapse: collapse; border: 1px solid black; text-align: center">
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">Total Marks</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">15.00</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">12.50</td>
                                                            </tr>
                                                        
                                                </tbody></table>
                                            
</div>

                                            <div id="ContentPlaceHolder1_RepeaterPrintInternal_pnlAssignment_2">

                                                <table style="width: 700px; border-collapse: collapse; border: 1px solid black; text-align: center">
                                                    <tbody><tr style="border-collapse: collapse; border: 1px solid black; text-align: center">
                                                        <th style="border-collapse: collapse; border: 1px solid black; text-align: center">Assignment</th>
                                                        <th style="border-collapse: collapse; border: 1px solid black; text-align: center">Maximum Marks</th>
                                                        <th style="border-collapse: collapse; border: 1px solid black; text-align: center">Marks Obtained</th>
                                                    </tr>
                                                    
                                                            <tr style="border-collapse: collapse; border: 1px solid black; text-align: center">
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center; width: 254px">Assignment 1</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">5.00</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">5.00</td>
                                                            </tr>
                                                        
                                                            <tr style="border-collapse: collapse; border: 1px solid black; text-align: center">
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center; width: 254px">Assignment 2</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">5.00</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">5.00</td>
                                                            </tr>
                                                        
                                                            <tr style="border-collapse: collapse; border: 1px solid black; text-align: center">
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center; width: 254px">Total Marks</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">10.00</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">10.00</td>
                                                            </tr>
                                                        
                                                </tbody></table>
                                            
</div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$RepeaterPrintInternal$ctl03$hdnSubjectCode" id="ContentPlaceHolder1_RepeaterPrintInternal_hdnSubjectCode_3" value="ICT 3211">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-text panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#ICT3211" aria-expanded="true">
                                            <i class="more-less fa fa-plus tooltips" aria-hidden="true" data-placement="top" data-original-title="Expand"></i>
                                            <b>Subject Code:</b> ICT 3211  COMPUTER NETWORK LAB
                                            
                                        </a>
                                    </h4>
                                </div>

                                <div id="ICT3211" class="panel-collapse collapse in" role="tabpanel">
                                    <div class="panel-body mit-bg">
                                        <div class="table-responsive">
                                            

                                            
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$RepeaterPrintInternal$ctl04$hdnSubjectCode" id="ContentPlaceHolder1_RepeaterPrintInternal_hdnSubjectCode_4" value="ICT 3212">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-text panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#ICT3212" aria-expanded="true">
                                            <i class="more-less fa fa-plus tooltips" aria-hidden="true" data-placement="top" data-original-title="Expand"></i>
                                            <b>Subject Code:</b> ICT 3212  DATA WAREHOUSING &amp; DATA MINING LAB
                                            
                                        </a>
                                    </h4>
                                </div>

                                <div id="ICT3212" class="panel-collapse collapse in" role="tabpanel">
                                    <div class="panel-body mit-bg">
                                        <div class="table-responsive">
                                            

                                            
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$RepeaterPrintInternal$ctl05$hdnSubjectCode" id="ContentPlaceHolder1_RepeaterPrintInternal_hdnSubjectCode_5" value="ICT 3213">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-text panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#ICT3213" aria-expanded="true">
                                            <i class="more-less fa fa-plus tooltips" aria-hidden="true" data-placement="top" data-original-title="Expand"></i>
                                            <b>Subject Code:</b> ICT 3213  ADVANCED TECHNOLOGY LAB
                                            
                                        </a>
                                    </h4>
                                </div>

                                <div id="ICT3213" class="panel-collapse collapse in" role="tabpanel">
                                    <div class="panel-body mit-bg">
                                        <div class="table-responsive">
                                            

                                            
                                            <div id="ContentPlaceHolder1_RepeaterPrintInternal_pnlAssignmentLab_5">

                                                <table style="width: 700px; border-collapse: collapse; border: 1px solid black; text-align: center">
                                                    <tbody><tr style="border-collapse: collapse; border: 1px solid black; text-align: center">
                                                        <th style="border-collapse: collapse; border: 1px solid black; text-align: center">Lab</th>
                                                        <th style="border-collapse: collapse; border: 1px solid black; text-align: center">Maximum Marks</th>
                                                        <th style="border-collapse: collapse; border: 1px solid black; text-align: center">Marks Obtained</th>
                                                    </tr>
                                                    
                                                            <tr style="border-collapse: collapse; border: 1px solid black; text-align: center">
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">Eval4</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">10.00</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">9.50</td>
                                                            </tr>
                                                        
                                                            <tr style="border-collapse: collapse; border: 1px solid black; text-align: center">
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">Eval1</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">10.00</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">9.50</td>
                                                            </tr>
                                                        
                                                            <tr style="border-collapse: collapse; border: 1px solid black; text-align: center">
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">Eval3</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">10.00</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">10.00</td>
                                                            </tr>
                                                        
                                                            <tr style="border-collapse: collapse; border: 1px solid black; text-align: center">
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">Eval2</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">10.00</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">8.50</td>
                                                            </tr>
                                                        
                                                            <tr style="border-collapse: collapse; border: 1px solid black; text-align: center">
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">Total Marks</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">40.00</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">37.50</td>
                                                            </tr>
                                                        
                                                </tbody></table>
                                            
</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$RepeaterPrintInternal$ctl06$hdnSubjectCode" id="ContentPlaceHolder1_RepeaterPrintInternal_hdnSubjectCode_6" value="ICT 4009">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-text panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#ICT4009" aria-expanded="true">
                                            <i class="more-less fa fa-plus tooltips" aria-hidden="true" data-placement="top" data-original-title="Expand"></i>
                                            <b>Subject Code:</b> ICT 4009  ARTIFICIAL INTELLIGENCE
                                            
                                        </a>
                                    </h4>
                                </div>

                                <div id="ICT4009" class="panel-collapse collapse in" role="tabpanel">
                                    <div class="panel-body mit-bg">
                                        <div class="table-responsive">
                                            <div id="ContentPlaceHolder1_RepeaterPrintInternal_pnlInternal_6">

                                                <table style="width: 700px; border-collapse: collapse; border: 1px solid black; text-align: center">
                                                    <tbody><tr style="border-collapse: collapse; border: 1px solid black; text-align: center">
                                                        <th style="border-collapse: collapse; border: 1px solid black; text-align: center">Internal</th>
                                                        <th style="border-collapse: collapse; border: 1px solid black; text-align: center">Maximum Marks</th>
                                                        <th style="border-collapse: collapse; border: 1px solid black; text-align: center">Marks Obtained</th>
                                                    </tr>
                                                    
                                                            <tr style="border-collapse: collapse; border: 1px solid black; text-align: center">
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">Internal Sessional 1</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">15.00</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">10.50</td>
                                                            </tr>
                                                        
                                                            <tr style="border-collapse: collapse; border: 1px solid black; text-align: center">
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">Total Marks</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">15.00</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">10.50</td>
                                                            </tr>
                                                        
                                                </tbody></table>
                                            
</div>

                                            <div id="ContentPlaceHolder1_RepeaterPrintInternal_pnlAssignment_6">

                                                <table style="width: 700px; border-collapse: collapse; border: 1px solid black; text-align: center">
                                                    <tbody><tr style="border-collapse: collapse; border: 1px solid black; text-align: center">
                                                        <th style="border-collapse: collapse; border: 1px solid black; text-align: center">Assignment</th>
                                                        <th style="border-collapse: collapse; border: 1px solid black; text-align: center">Maximum Marks</th>
                                                        <th style="border-collapse: collapse; border: 1px solid black; text-align: center">Marks Obtained</th>
                                                    </tr>
                                                    
                                                            <tr style="border-collapse: collapse; border: 1px solid black; text-align: center">
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center; width: 254px">Assignment 1</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">5.00</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">4.00</td>
                                                            </tr>
                                                        
                                                            <tr style="border-collapse: collapse; border: 1px solid black; text-align: center">
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center; width: 254px">Assignment 2</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">5.00</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">5.00</td>
                                                            </tr>
                                                        
                                                            <tr style="border-collapse: collapse; border: 1px solid black; text-align: center">
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center; width: 254px">Total Marks</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">10.00</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">9.00</td>
                                                            </tr>
                                                        
                                                </tbody></table>
                                            
</div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$RepeaterPrintInternal$ctl07$hdnSubjectCode" id="ContentPlaceHolder1_RepeaterPrintInternal_hdnSubjectCode_7" value="ICT 4012">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-text panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#ICT4012" aria-expanded="true">
                                            <i class="more-less fa fa-plus tooltips" aria-hidden="true" data-placement="top" data-original-title="Expand"></i>
                                            <b>Subject Code:</b> ICT 4012  NEURAL NETWORK AND FUZZY LOGIC
                                            
                                        </a>
                                    </h4>
                                </div>

                                <div id="ICT4012" class="panel-collapse collapse in" role="tabpanel">
                                    <div class="panel-body mit-bg">
                                        <div class="table-responsive">
                                            <div id="ContentPlaceHolder1_RepeaterPrintInternal_pnlInternal_7">

                                                <table style="width: 700px; border-collapse: collapse; border: 1px solid black; text-align: center">
                                                    <tbody><tr style="border-collapse: collapse; border: 1px solid black; text-align: center">
                                                        <th style="border-collapse: collapse; border: 1px solid black; text-align: center">Internal</th>
                                                        <th style="border-collapse: collapse; border: 1px solid black; text-align: center">Maximum Marks</th>
                                                        <th style="border-collapse: collapse; border: 1px solid black; text-align: center">Marks Obtained</th>
                                                    </tr>
                                                    
                                                            <tr style="border-collapse: collapse; border: 1px solid black; text-align: center">
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">Internal Sessional 1</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">15.00</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">7.00</td>
                                                            </tr>
                                                        
                                                            <tr style="border-collapse: collapse; border: 1px solid black; text-align: center">
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">Total Marks</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">15.00</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">7.00</td>
                                                            </tr>
                                                        
                                                </tbody></table>
                                            
</div>

                                            <div id="ContentPlaceHolder1_RepeaterPrintInternal_pnlAssignment_7">

                                                <table style="width: 700px; border-collapse: collapse; border: 1px solid black; text-align: center">
                                                    <tbody><tr style="border-collapse: collapse; border: 1px solid black; text-align: center">
                                                        <th style="border-collapse: collapse; border: 1px solid black; text-align: center">Assignment</th>
                                                        <th style="border-collapse: collapse; border: 1px solid black; text-align: center">Maximum Marks</th>
                                                        <th style="border-collapse: collapse; border: 1px solid black; text-align: center">Marks Obtained</th>
                                                    </tr>
                                                    
                                                            <tr style="border-collapse: collapse; border: 1px solid black; text-align: center">
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center; width: 254px">Assignment 1</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">5.00</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">1.00</td>
                                                            </tr>
                                                        
                                                            <tr style="border-collapse: collapse; border: 1px solid black; text-align: center">
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center; width: 254px">Assignment 2</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">5.00</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">4.00</td>
                                                            </tr>
                                                        
                                                            <tr style="border-collapse: collapse; border: 1px solid black; text-align: center">
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center; width: 254px">Total Marks</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">10.00</td>
                                                                <td style="border-collapse: collapse; border: 1px solid black; text-align: center">5.00</td>
                                                            </tr>
                                                        
                                                </tbody></table>
                                            
</div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$RepeaterPrintInternal$ctl08$hdnSubjectCode" id="ContentPlaceHolder1_RepeaterPrintInternal_hdnSubjectCode_8" value="IIE 3209">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-text panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#IIE3209" aria-expanded="true">
                                            <i class="more-less fa fa-plus tooltips" aria-hidden="true" data-placement="top" data-original-title="Expand"></i>
                                            <b>Subject Code:</b> IIE 3209  INTRODUCTION TO POLISH LANGUAGE AND CULTURE
                                            
                                        </a>
                                    </h4>
                                </div>

                                <div id="IIE3209" class="panel-collapse collapse in" role="tabpanel">
                                    <div class="panel-body mit-bg">
                                        <div class="table-responsive">
                                            

                                            
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                </div>
            </div>
        </div>
    </div>


</div>